<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="param1" value="Configuration parameter" />
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=H5YYVT2\SQLEXPRESS;Initial Catalog=EFTestDb;Integrated Security=True" />
  </connectionStrings>
</configuration>